<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdh.dao.ClazSdhDao">

    <insert id="insertClaz">
        insert into claz_sdh values(#{id},#{clazName},#{createTime})
    </insert>

    <select id="queryClazAll" resultType="ClazSdh">
        select * from claz_sdh
    </select>
    <select id="queryStudent" resultType="UserSdh">
        select * from user_sdh where claz_id=#{clazId}
    </select>

</mapper>