<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdh.dao.UserSdhDao">

    <insert id="insertUser" parameterType="com.sdh.vo.UserRoleVo">
        <selectKey keyProperty="id" resultType="integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_sdh values(#{id},#{username},#{password},#{salt},#{gender},#{registTime},#{clazId})
    </insert>

    <select id="queryUserSdhByUsername" resultType="com.sdh.pojo.UserSdh">
        select * from user_sdh where username=#{username}
    </select>

</mapper>